<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wildan.ndarusapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NdarusApp">
        <activity
            android:name=".ui.tentang.referensi.ReferenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tentang.contactus.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tentang.catatan.CatatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tentang.TentangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.praktik.QuizPraktikDoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.praktik.QuizPraktikActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.teori.QuizTeoriDoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.teori.QuizTeoriActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.ro.detail.DetailRoActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_ro"
            android:theme="@style/Theme.NdarusApp.NoActionBar" />
        <activity
            android:name=".ui.belajar.tajwid.ro.RoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.aliflam.detail.DetailAlifLamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.aliflam.AlifLamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.idgham.detail.DetailIdghamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.idgham.IdghamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.nunsukundantanwin.detail.DetailNunSukunTanwinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.nunsukundantanwin.NunSukunTanwinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.mimsukun.detail.DetailMimSukunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.mimsukun.MimSukunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.lamjalalah.detail.DetailLamJalalahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.lamjalalah.LamJalalahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.qalqalah.detail.DetailQalqalahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.qalqalah.QalqalahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.mad.detail.DetailMadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.mad.MadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.tajwid.TajwidActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.HukumTajwidActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.TempatKeluarHurufActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.HarokatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.HurufHijaiyahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.KiatSuksesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.TajwidTartilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.MuqodimahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.muqodimah.PendahuluActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.belajar.makhroj.detail.DetailMakhrojActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.makhroj.MakhrojActivity"
            android:exported="false" />
        <activity
            android:name=".ui.base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.BelajarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>